body {
    background: #23283e;
    padding: 50px;
}

html {
    scroll-behavior: smooth;
}

.navbar--container {
    background-color: #4285f4;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    color: purple;
    font-family: 'Courier New';
    padding-top: 20px;
}

.header--title {
    text-align: center;
    font-size: 50px;
    color: #cdcdff;
}

.header--title2 {
    text-align: center;
    font-size: 25px;
    color: #cdcdff;
}

.header--description, .section_4--description {
    text-align: center;
    color: #cdcdff;
    inline-size: 700px;
}

.header--description--container, .section_3--description--container, .section_3--project-container, .section_4--description-container {
    display: flex;
    justify-content: center;
}

.header--disclaimer--container {
    display: flex;
    justify-content: center;
}

.header--disclaimer {
    text-align: center;
    color: #cdcdff;
    inline-size: 700px;
}

.header--started--text {
    text-align: center;
    color: #E6BF33;
    font-size: 50px;
}

.section--container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.section--div {
    padding-right: 10%;
}

.section_1--text {
    inline-size: 500px;
    color: #FF8100;
    overflow-wrap: break-word;
    padding-bottom: 20px;
}

.section_1--title {
    color: #FF8100;
    font-size: 50px;
}

.business-card--container {
    width: 250px;
}

.profilePic {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1A1B21;
    margin-top: -3%;
    padding-top: 10%;
    font-size: 35px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;

}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1A1B21;
    padding-top: 10%;
    margin-top: -12%;
    font-size: 13px;
    color: #F3BF99;
}

.email {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1A1B21;
    padding-top: 3%;
    margin-top: -5%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #F5F5F5;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #1A1B21;
    padding-top: 10%;
    margin-top: -10%;
    text-align: justify;
}

.githubImg {
    width: 15px;
    padding-top: 5px;
    padding-left: 5px;
}

.linkedinImg {
    width: 15px;
    padding-top: 5px;
}

.button {
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30px;
    width: 100px;
    background: #FFFFFF;
    margin-top: 0%;
    margin-bottom: 15%;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.about {    
    color: #F5F5F5;
    margin-top: 0%;
    padding-top: 5%;
    padding-left: 5%;
    background: #1A1B21;
    text-align: left;
    font-size: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
}

.about--text {
    color: #A39F9F;
    background: #1A1B21;
    text-align: center;
    margin-top: -10%;
    padding-top: 8%;
    padding-left: 5%;
    font-size: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

.Interests {
    display: flex;
    color: #F5F5F5;
    background: #1A1B21;
    margin-top: -5%;
    padding-top: 5%;
    text-align: center;
    padding-left: 5%;
    font-size: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
}

.interests--text {
    display: flex;
    color: #A39F9F;
    background: #1A1B21;
    margin-top: -10%;
    padding-top: 8%;
    padding-left: 5%;
    text-align: center;
    font-size: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-align: left;
    padding-bottom: 2%;
}

.section_2--text {
    inline-size: 500px;
    color: #FF8100;
    overflow-wrap: break-word;
    padding-bottom: 20px;
}

.section_2--title {
    color: #FF8100;
    font-size: 50px;
}

.travel_journal--container {
    width: 550px;
}

.travel--a:visited { 
    text-decoration: none; 
    color: #918E9B;
}

.travel--a {
    text-decoration: none; 
    color: #918E9B;
}

.travel--header {
    background: #F55A5A;
    font-weight: 500;
    font-size: 14.5px;
    line-height: 18px;
    letter-spacing: -0.075em;
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
    font-family: 'Inter';
    font-style: normal;
    padding-bottom: 3%;
}

.travel--card {
    padding-left: 30px;
    display: flex;
    padding-top: 30px;
    background: white;
}

.travel--card--img {
    width: 125px;
    height: 200px;
    border-radius: 20px;
}

.pin {
    width: 25px;
    height: 25px;
}

.travel--location {
    display: flex;
    padding-top: 20px;
}

.travel--location--text {
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;
    color: #2B283A;
    font-family: 'Inter';
    font-style: normal;
}

.travel--location--google {
    text-decoration-line: underline;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    padding-left: 1%;
    white-space: nowrap;
    color: #918E9B;
    font-family: 'Inter';
    font-style: normal;
}

.travel--title {
    font-weight: 700;
    font-size: 25px;
    color: #2B283A;
    font-family: 'Inter';
    font-style: normal;
    padding-left: 2%;
    margin-top: -7%;
}

.travel--date {
    padding-left: 2%;
    margin-top: -5%;
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;
    color: #2B283A;
    white-space: nowrap;
}

.travel--description {
    padding-left: 2%;
    font-weight: 400;
    font-size: 10.25px;
    line-height: 150%;
    color: #2B283A;
    font-family: 'Inter';
    font-style: normal;
}

.section_3--title {
    display: flex;
    justify-content: center;
    color: #FF8100;
    font-size: 50px;
}

.section_3--text {
    color: #FF8100;
    padding-bottom: 20px;
    text-align: center;
    inline-size: 700px;
}

.section_3--list--container{
    display: flex;
    justify-content: space-evenly;
}

.section_3--ul--list {
    color: #FF8100;
    inline-size: 600px;
}

.section_3--project-introduction {
    color: #FF8100;
    text-align: center;
    inline-size: 900px;
}

.section_3--project-container {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.meme-generator--container {
    width: 800px;
    justify-content: center;
}

.section_3--meme-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.meme--header {
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    height: 75px;
    display: flex;
}

input {
    border: 1px solid #D5D4D8;
    border-radius: 5px;
    width: 300px;
    height: 45px;
}

.meme--logo {
    width: 40px;
    padding-right: 10px;
}

.meme--title {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 2px;
    padding-left: 100px;
    color: #FFFFFF;
    margin-right: auto;
}

.meme--course {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 50px;
    color: #FFFFFF;
    padding-right: 100px;
}

.meme {
    background: white;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.meme--button--section {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: white;
}

.meme--button {
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
    width: 500px;
    height: 50px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.windowImage {
    width: 20px;
    position: relative;
    top: 3px;
}

.meme--image--container {
    position: relative;
    background: white;
    padding: 50px;
    width: 700px;
    height: 450px;
    display: flex; 
    justify-content: center;
}

.meme--image {
    width: 500px;
    height: 400px;
    border-radius: 3px;
}

.meme--text {
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    position: absolute;
    top: 350px;
}

.top {
    position: absolute;
    margin: 1;
}

.section_4--container {
    margin-top: 5%;
}

.section_4--text {
    text-align: center;
    color: #cdcdff;
    inline-size: 700px;
}

.tenzies--container {
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

.tenzies--main {
    background: #F5F5F5;
    border-radius: 10px;
    height: 650px;
    width: 800px;
}

.tenzies--title--container {
    padding-top: 60px;
}

.tenzies--title--name {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 25.6px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #2B283A;
}

.tenzies--title--description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13.1072px;
    line-height: 16px;
    align-items: center;
    text-align: center;
    color: #4A4E74;
    padding-top: 25px;
}

.die--hold {
    background: #59E391;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 3.8px;
    height: 100px;
    width: 80px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #2B283A;
}

.die--open {
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 3.8px;
    height: 100px;
    width: 80px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #2B283A;
}

.dice--container {
    padding: 50px;
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 30px;
    place-items: center;
}

.roll--container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.roll--button {
    align-items: center;
    height: 50px;
    width: 100px;
    background: #5035FF;
    box-shadow: 0px 3.2px 7.7px rgba(0, 0, 0, 0.2);
    border-radius: 3.8px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;

}

.numRoll--container {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #2B283A;
}

.prevBest--container {
    display: flex;
    justify-content: center;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: #2B283A;
}